<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airline.account.mapper.acca.RefundMapper">

    <resultMap type="com.airline.account.model.acca.Refund" id="Refund">
        <result column="CNJ_TICKET_NO" property="primaryTicketNo" jdbcType="VARCHAR"/>
        <result column="ISSUE_DATE" property="issueDate" jdbcType="VARCHAR"/>
        <result column="TICKET_NO_STRING" property="ticketNoStr" jdbcType="VARCHAR"/>
        <result column="REFUND_STATUS" property="couponStatus" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="col">
        CNJ_TICKET_NO, ISSUE_DATE, TICKET_NO_STRING, REFUND_STATUS
    </sql>

    <select id="queryRefundByAllocate" resultMap="Refund" parameterType="com.airline.account.model.allocate.AllocateSource">
        <include refid="OraclePagingPrefix"/>
        select
        <include refid="col"/>
        from ITAX_AUDITOR_REFUND t
        where t.ORI_SOURCE = #{fileName}
        <if test="issueDate != null">
            and t.issue_date = #{issueDate}
        </if>
        <include refid="OraclePagingSuffix"/>
    </select>

    <select id="countRefundByAllocate" resultType="java.lang.Integer" parameterType="com.airline.account.model.allocate.AllocateSource">
        select count(*)
        from ITAX_AUDITOR_REFUND t
        where t.ORI_SOURCE = #{fileName}
        <if test="issueDate != null">
            and t.issue_date = #{issueDate}
        </if>
    </select>


    <sql id="OraclePagingPrefix">
        <if test="page != null and page!= '' and pageSize != null and pageSize != ''">
            select *
            from ( select row_.*, rownum rownum_ from (
        </if>
    </sql>

    <sql id="OraclePagingSuffix">
        <if test="page != null and page!= '' and pageSize != null and pageSize != ''">
            <![CDATA[ ) row_ ) where rownum_ > (#{page} - 1) * #{pageSize} and rownum_ <= #{page} * #{pageSize}]]>
        </if>
    </sql>
</mapper>