<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airline.account.mapper.et.EtUplMapper">
    <resultMap type="com.airline.account.model.et.EtUpl" id="EtUpl">
        <result column="DOCUMENT_CARRIER_IATA_NO" property="documentCarrierIataNo" jdbcType="VARCHAR"/>
        <result column="DOCUMENT_NO" property="documentNo" jdbcType="VARCHAR"/>
        <result column="ISSUE_DATE" property="issueDate" jdbcType="DATE"/>
        <result column="COUPON_NO" property="couponNo" jdbcType="DECIMAL"/>
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR"/>
        <result column="AGENT_IATA_NO" property="agentIataNo" jdbcType="VARCHAR"/>
        <result column="FLIGHT_TYPE" property="flightType" jdbcType="VARCHAR"/>
        <result column="CARRIER_O" property="carrierO" jdbcType="VARCHAR"/>
        <result column="SUB_CARRIER" property="subCarrier" jdbcType="VARCHAR"/>
        <result column="FLIGHT_ROUNTE_CD" property="flightRounteCd" jdbcType="VARCHAR"/>
        <result column="FLIGHT_ROUTE_TYPE" property="flightRouteType" jdbcType="VARCHAR"/>
        <result column="ROUND_TYPE" property="roundType" jdbcType="VARCHAR"/>
        <result column="FLIGHT_NO" property="flightNo" jdbcType="VARCHAR"/>
        <result column="CARRIER_DATE" property="carrierDate" jdbcType="VARCHAR"/>
        <result column="TAIL_NBR" property="tailNbr" jdbcType="VARCHAR"/>
        <result column="DEPT_AIRPORT" property="deptAirport" jdbcType="VARCHAR"/>
        <result column="ARR_AIRPORT" property="arrAirport" jdbcType="VARCHAR"/>
        <result column="MAIN_CLASS" property="mainClass" jdbcType="VARCHAR"/>
        <result column="SUB_CLASS" property="subClass" jdbcType="VARCHAR"/>
        <result column="FARE_BASIS" property="fareBasis" jdbcType="VARCHAR"/>
        <result column="SALE_CURRENCY" property="saleCurrency" jdbcType="VARCHAR"/>
        <result column="PRODUCT_CODE" property="productCode" jdbcType="VARCHAR"/>
        <result column="KEY_ACCOUNT" property="keyAccount" jdbcType="VARCHAR"/>
        <result column="ET_FLAG" property="etFlag" jdbcType="VARCHAR"/>
        <result column="FFP_MEMBER_NO" property="ffpMemberNo" jdbcType="VARCHAR"/>
        <result column="TOUR_CODE" property="tourCode" jdbcType="VARCHAR"/>
        <result column="CHARTERE_FLAG" property="chartereFlag" jdbcType="VARCHAR"/>
        <result column="PAX_TYPE" property="paxType" jdbcType="VARCHAR"/>
        <result column="PAX_QTY" property="paxQty" jdbcType="DECIMAL"/>
        <result column="LUGGAGE_HEIGHT" property="luggageHeight" jdbcType="DECIMAL"/>
        <result column="GROSS_INCOME" property="grossIncome" jdbcType="DECIMAL"/>
        <result column="GROSS_INCOME_SC" property="grossIncomeSc" jdbcType="DECIMAL"/>
        <result column="NET_INCOME" property="netIncome" jdbcType="DECIMAL"/>
        <result column="NET_INCOME_SC" property="netIncomeSc" jdbcType="DECIMAL"/>
        <result column="AGENT_COMMISSION_RATE" property="agentCommissionRate" jdbcType="DECIMAL"/>
        <result column="AGENT_COMMISSION" property="agentCommission" jdbcType="DECIMAL"/>
        <result column="AGENT_COMMISSION_SC" property="agentCommissionSc" jdbcType="DECIMAL"/>
        <result column="ADDED_COMMISSION" property="addedCommission" jdbcType="DECIMAL"/>
        <result column="ADDED_COMMISSION_SC" property="addedCommissionSc" jdbcType="DECIMAL"/>
        <result column="BGG_PRICED_FEE" property="bggPricedFee" jdbcType="DECIMAL"/>
        <result column="BGG_PRICED_FEE_SC" property="bggPricedFeeSc" jdbcType="DECIMAL"/>
        <result column="AIRPORT_TAX" property="airportTax" jdbcType="DECIMAL"/>
        <result column="AIRPORT_TAX_SC" property="airportTaxSc" jdbcType="DECIMAL"/>
        <result column="FUEL_SURCHARGE" property="fuelSurcharge" jdbcType="DECIMAL"/>
        <result column="FUEL_SURCHARGE_SC" property="fuelSurchargeSc" jdbcType="DECIMAL"/>
        <result column="AVIATION_INSURANCE" property="aviationInsurance" jdbcType="DECIMAL"/>
        <result column="AVIATION_INSURANCE_SC" property="aviationInsuranceSc" jdbcType="DECIMAL"/>
        <result column="SPA_ID" property="spaId" jdbcType="VARCHAR"/>
        <result column="MKT_CARRIER_CODE" property="mktCarrierCode" jdbcType="VARCHAR"/>
        <result column="MKT_FLIGHT_NO" property="mktFlightNo" jdbcType="VARCHAR"/>
        <result column="EMD_TYPE" property="emdType" jdbcType="VARCHAR"/>
        <result column="EMD_REASON_CODE" property="emdReasonCode" jdbcType="VARCHAR"/>
        <result column="EMD_SUB_REASON_CODE" property="emdSubReasonCode" jdbcType="VARCHAR"/>
        <result column="NET_NET_INCOME_CNY" property="netNetIncomeCny" jdbcType="DECIMAL"/>
        <result column="NET_NET_INCOME_USD" property="netNetIncomeUsd" jdbcType="DECIMAL"/>
        <result column="ET_SOURCE" property="etSource" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertUpl" parameterType="com.airline.account.model.et.EtUpl">
        insert into ET_UPL
        (
        <include refid="col"/>
        )
        values (
        #{documentCarrierIataNo, jdbcType=VARCHAR},
        #{documentNo, jdbcType=VARCHAR},
        to_date(#{issueDate, jdbcType=DATE},'yyyyMMdd'),
        #{couponNo, jdbcType=DECIMAL},
        #{documentType, jdbcType=VARCHAR},
        #{agentIataNo, jdbcType=VARCHAR},
        #{flightType, jdbcType=VARCHAR},
        #{carrierO, jdbcType=VARCHAR},
        #{subCarrier, jdbcType=VARCHAR},
        #{flightRounteCd, jdbcType=VARCHAR},
        #{flightRouteType, jdbcType=VARCHAR},
        #{roundType, jdbcType=VARCHAR},
        #{flightNo, jdbcType=VARCHAR},
        #{carrierDate, jdbcType=VARCHAR},
        #{tailNbr, jdbcType=VARCHAR},
        #{deptAirport, jdbcType=VARCHAR},
        #{arrAirport, jdbcType=VARCHAR},
        #{mainClass, jdbcType=VARCHAR},
        #{subClass, jdbcType=VARCHAR},
        #{fareBasis, jdbcType=VARCHAR},
        #{saleCurrency, jdbcType=VARCHAR},
        #{productCode, jdbcType=VARCHAR},
        #{keyAccount, jdbcType=VARCHAR},
        #{etFlag, jdbcType=VARCHAR},
        #{ffpMemberNo, jdbcType=VARCHAR},
        #{tourCode, jdbcType=VARCHAR},
        #{chartereFlag, jdbcType=VARCHAR},
        #{paxType, jdbcType=VARCHAR},
        #{paxQty, jdbcType=DECIMAL},
        #{luggageHeight, jdbcType=DECIMAL},
        #{grossIncome, jdbcType=DECIMAL},
        #{grossIncomeSc, jdbcType=DECIMAL},
        #{netIncome, jdbcType=DECIMAL},
        #{netIncomeSc, jdbcType=DECIMAL},
        #{agentCommissionRate, jdbcType=DECIMAL},
        #{agentCommission, jdbcType=DECIMAL},
        #{agentCommissionSc, jdbcType=DECIMAL},
        #{addedCommission, jdbcType=DECIMAL},
        #{addedCommissionSc, jdbcType=DECIMAL},
        #{bggPricedFee, jdbcType=DECIMAL},
        #{bggPricedFeeSc, jdbcType=DECIMAL},
        #{airportTax, jdbcType=DECIMAL},
        #{airportTaxSc, jdbcType=DECIMAL},
        #{fuelSurcharge, jdbcType=DECIMAL},
        #{fuelSurchargeSc, jdbcType=DECIMAL},
        #{aviationInsurance, jdbcType=DECIMAL},
        #{aviationInsuranceSc, jdbcType=DECIMAL},
        #{spaId, jdbcType=VARCHAR},
        #{mktCarrierCode, jdbcType=VARCHAR},
        #{mktFlightNo, jdbcType=VARCHAR},
        #{emdType, jdbcType=VARCHAR},
        #{emdReasonCode, jdbcType=VARCHAR},
        #{emdSubReasonCode, jdbcType=VARCHAR},
        #{netNetIncomeCny, jdbcType=DECIMAL},
        #{netNetIncomeUsd, jdbcType=DECIMAL},
        #{etSource, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateUpl" parameterType="com.airline.account.model.et.EtUpl">
        update ET_UPL
           set
            DOCUMENT_TYPE = #{documentType, jdbcType=VARCHAR},
            AGENT_IATA_NO = #{agentIataNo, jdbcType=VARCHAR},
            FLIGHT_TYPE = #{flightType, jdbcType=VARCHAR},
            CARRIER_O = #{carrierO, jdbcType=VARCHAR},
            SUB_CARRIER = #{subCarrier, jdbcType=VARCHAR},
            FLIGHT_ROUNTE_CD = #{flightRounteCd, jdbcType=VARCHAR},
            FLIGHT_ROUTE_TYPE = #{flightRouteType, jdbcType=VARCHAR},
            ROUND_TYPE = #{roundType, jdbcType=VARCHAR},
            FLIGHT_NO = #{flightNo, jdbcType=VARCHAR},
            CARRIER_DATE = #{carrierDate, jdbcType=VARCHAR},
            TAIL_NBR = #{tailNbr, jdbcType=VARCHAR},
            DEPT_AIRPORT = #{deptAirport, jdbcType=VARCHAR},
            ARR_AIRPORT = #{arrAirport, jdbcType=VARCHAR},
            MAIN_CLASS = #{mainClass, jdbcType=VARCHAR},
            SUB_CLASS = #{subClass, jdbcType=VARCHAR},
            FARE_BASIS = #{fareBasis, jdbcType=VARCHAR},
            SALE_CURRENCY = #{saleCurrency, jdbcType=VARCHAR},
            PRODUCT_CODE = #{productCode, jdbcType=VARCHAR},
            KEY_ACCOUNT = #{keyAccount, jdbcType=VARCHAR},
            ET_FLAG = #{etFlag, jdbcType=VARCHAR},
            FFP_MEMBER_NO = #{ffpMemberNo, jdbcType=VARCHAR},
            TOUR_CODE = #{tourCode, jdbcType=VARCHAR},
            CHARTERE_FLAG = #{chartereFlag, jdbcType=VARCHAR},
            PAX_TYPE = #{paxType, jdbcType=VARCHAR},
            PAX_QTY = #{paxQty, jdbcType=DECIMAL},
            LUGGAGE_HEIGHT = #{luggageHeight, jdbcType=DECIMAL},
            GROSS_INCOME = #{grossIncome, jdbcType=DECIMAL},
            GROSS_INCOME_SC = #{grossIncomeSc, jdbcType=DECIMAL},
            NET_INCOME = #{netIncome, jdbcType=DECIMAL},
            NET_INCOME_SC = #{netIncomeSc, jdbcType=DECIMAL},
            AGENT_COMMISSION_RATE = #{agentCommissionRate, jdbcType=DECIMAL},
            AGENT_COMMISSION = #{agentCommission, jdbcType=DECIMAL},
            AGENT_COMMISSION_SC = #{agentCommissionSc, jdbcType=DECIMAL},
            ADDED_COMMISSION = #{addedCommission, jdbcType=DECIMAL},
            ADDED_COMMISSION_SC = #{addedCommissionSc, jdbcType=DECIMAL},
            BGG_PRICED_FEE = #{bggPricedFee, jdbcType=DECIMAL},
            BGG_PRICED_FEE_SC = #{bggPricedFeeSc, jdbcType=DECIMAL},
            AIRPORT_TAX = #{airportTax, jdbcType=DECIMAL},
            AIRPORT_TAX_SC = #{airportTaxSc, jdbcType=DECIMAL},
            FUEL_SURCHARGE = #{fuelSurcharge, jdbcType=DECIMAL},
            FUEL_SURCHARGE_SC = #{fuelSurchargeSc, jdbcType=DECIMAL},
            AVIATION_INSURANCE = #{aviationInsurance, jdbcType=DECIMAL},
            AVIATION_INSURANCE_SC = #{aviationInsuranceSc, jdbcType=DECIMAL},
            SPA_ID = #{spaId, jdbcType=VARCHAR},
            MKT_CARRIER_CODE = #{mktCarrierCode, jdbcType=VARCHAR},
            MKT_FLIGHT_NO = #{mktFlightNo, jdbcType=VARCHAR},
            EMD_TYPE = #{emdType, jdbcType=VARCHAR},
            EMD_REASON_CODE = #{emdReasonCode, jdbcType=VARCHAR},
            EMD_SUB_REASON_CODE = #{emdSubReasonCode, jdbcType=VARCHAR},
            NET_NET_INCOME_CNY = #{netNetIncomeCny, jdbcType=DECIMAL},
            NET_NET_INCOME_USD = #{netNetIncomeUsd, jdbcType=DECIMAL},
            ET_SOURCE = #{etSource, jdbcType=VARCHAR}
         where DOCUMENT_CARRIER_IATA_NO = #{documentCarrierIataNo}
            and DOCUMENT_NO = #{documentNo}
            and ISSUE_DATE = to_date(#{issueDate},'yyyyMMdd')
            and COUPON_NO = #{couponNo}
    </update>

    <sql id="col">
        DOCUMENT_CARRIER_IATA_NO,
        DOCUMENT_NO,
        ISSUE_DATE,
        COUPON_NO,
        DOCUMENT_TYPE,
        AGENT_IATA_NO,
        FLIGHT_TYPE,
        CARRIER_O,
        SUB_CARRIER,
        FLIGHT_ROUNTE_CD,
        FLIGHT_ROUTE_TYPE,
        ROUND_TYPE,
        FLIGHT_NO,
        CARRIER_DATE,
        TAIL_NBR,
        DEPT_AIRPORT,
        ARR_AIRPORT,
        MAIN_CLASS,
        SUB_CLASS,
        FARE_BASIS,
        SALE_CURRENCY,
        PRODUCT_CODE,
        KEY_ACCOUNT,
        ET_FLAG,
        FFP_MEMBER_NO,
        TOUR_CODE,
        CHARTERE_FLAG,
        PAX_TYPE,
        PAX_QTY,
        LUGGAGE_HEIGHT,
        GROSS_INCOME,
        GROSS_INCOME_SC,
        NET_INCOME,
        NET_INCOME_SC,
        AGENT_COMMISSION_RATE,
        AGENT_COMMISSION,
        AGENT_COMMISSION_SC,
        ADDED_COMMISSION,
        ADDED_COMMISSION_SC,
        BGG_PRICED_FEE,
        BGG_PRICED_FEE_SC,
        AIRPORT_TAX,
        AIRPORT_TAX_SC,
        FUEL_SURCHARGE,
        FUEL_SURCHARGE_SC,
        AVIATION_INSURANCE,
        AVIATION_INSURANCE_SC,
        SPA_ID,
        MKT_CARRIER_CODE,
        MKT_FLIGHT_NO,
        EMD_TYPE,
        EMD_REASON_CODE,
        EMD_SUB_REASON_CODE,
        NET_NET_INCOME_CNY,
        NET_NET_INCOME_USD,
        ET_SOURCE
    </sql>
</mapper>