<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airline.account.mapper.et.MoveLogMapper">
    <resultMap type="com.airline.account.model.et.MoveLog" id="MoveLog">
        <result column="EXECUTOR" property="executor" jdbcType="VARCHAR"/>
        <result column="TICKET_NO" property="ticketNo" jdbcType="VARCHAR"/>
        <result column="EXCP" property="excp" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertLog">
        insert into MOVE_LOG
        (
        EXECUTOR,
        TICKET_NO,
        EXCP)
        values
        (
        #{executor, jdbcType=VARCHAR},
        #{ticketNo, jdbcType=VARCHAR},
        #{excp, jdbcType=VARCHAR})
    </insert>
</mapper>