<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airline.account.mapper.et.TaxMapper">
    <resultMap type="com.airline.account.model.et.Tax" id="Tax">
        <result column="DOCUMENT_CARRIER_IATA_NO" property="documentCarrierIataNo" jdbcType="VARCHAR"/>
        <result column="DOCUMENT_NO" property="documentNo" jdbcType="VARCHAR"/>
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR"/>
        <result column="ISSUE_DATE" property="issueDate" jdbcType="DATE"/>
        <result column="TAX_CODE" property="taxCode" jdbcType="VARCHAR"/>
        <result column="TAX_SEQ_NO" property="taxSeqNo" jdbcType="DECIMAL"/>
        <result column="TAX_ALREADY_PAID_FLAG" property="taxAlreadyPaidFlag" jdbcType="VARCHAR"/>
        <result column="TAX_AMOUNT" property="taxAmount" jdbcType="DECIMAL"/>
        <result column="TAX_CURRENCY" property="taxCurrency" jdbcType="VARCHAR"/>
        <result column="TAX_ALLOCATION_INDICATOR" property="taxAllocationIndicator" jdbcType="VARCHAR"/>
        <result column="INVALID_TAX_FLAG" property="invalidTaxFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertTax" parameterType="com.airline.account.model.et.Tax">
        insert into ET_AUDITOR_COUPON_TAX
        (
            <include refid="col"/>
        )
        values
        (
            #{documentCarrierIataNo, jdbcType=VARCHAR},
            #{documentNo, jdbcType=VARCHAR},
            #{documentType, jdbcType=VARCHAR},
            to_date(#{issueDate, jdbcType=DATE}, 'yyyyMMdd'),
            #{taxCode, jdbcType=VARCHAR},
            #{taxSeqNo, jdbcType=DECIMAL},
            #{taxAlreadyPaidFlag, jdbcType=VARCHAR},
            #{taxAmount, jdbcType=DECIMAL},
            #{taxCurrency, jdbcType=VARCHAR},
            #{taxAllocationIndicator, jdbcType=VARCHAR},
            #{invalidTaxFlag, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateTax" parameterType="com.airline.account.model.et.Tax">
        update ET_AUDITOR_COUPON_TAX
           set
            DOCUMENT_TYPE = #{documentType, jdbcType=VARCHAR},
            TAX_ALREADY_PAID_FLAG = #{taxAlreadyPaidFlag, jdbcType=VARCHAR},
            TAX_AMOUNT = #{taxAmount, jdbcType=DECIMAL},
            TAX_CURRENCY = #{taxCurrency, jdbcType=VARCHAR},
            TAX_ALLOCATION_INDICATOR = #{taxAllocationIndicator, jdbcType=VARCHAR},
            INVALID_TAX_FLAG = #{invalidTaxFlag, jdbcType=VARCHAR}
         where
            DOCUMENT_CARRIER_IATA_NO = #{documentCarrierIataNo}
           and DOCUMENT_NO = #{documentNo}
           and ISSUE_DATE = to_date(#{issueDate}, 'yyyyMMdd')
           and TAX_CODE = #{taxCode}
           and TAX_SEQ_NO = #{taxSeqNo}
    </update>

    <sql id="col">
        DOCUMENT_CARRIER_IATA_NO,
        DOCUMENT_NO,
        DOCUMENT_TYPE,
        ISSUE_DATE,
        TAX_CODE,
        TAX_SEQ_NO,
        TAX_ALREADY_PAID_FLAG,
        TAX_AMOUNT,
        TAX_CURRENCY,
        TAX_ALLOCATION_INDICATOR,
        INVALID_TAX_FLAG
    </sql>
</mapper>